In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r"C:\Users\raobr\Documents\Project Files\Notebooks and Datasets\Narrativity in Scientific Publishing\narrativity-in-scientific-publishing\PLOS_narrativity.csv")

data.head()

,Unnamed: 0,X_unit_id,X_created_at,X_id,X_started_at,X_tainted,X_channel,X_trust,X_worker_id,X_country,...,sn,ti,ut,vl,z9,cin_mas,firstauthor,numberauthors,pid_mas,title
0,1,886110198,2/19/2016 00:11:58,1898740971,2/19/2016 00:04:22,False,coinworker,1,36180653,USA,...,NaN,NaN,NaN,NaN,NaN,37.0,Loarie,6.0,45914059.0,The velocity of climate change.
1,2,886110198,2/19/2016 00:21:48,1898749020,2/19/2016 00:15:03,False,coinworker,1,36180771,USA,...,NaN,NaN,NaN,NaN,NaN,37.0,Loarie,6.0,45914059.0,The velocity of climate change.
2,3,886110198,2/19/2016 00:38:40,1898760130,2/19/2016 00:19:16,False,elite,1,36514787,AUS,...,NaN,NaN,NaN,NaN,NaN,37.0,Loarie,6.0,45914059.0,The velocity of climate change.
3,4,886110198,2/19/2016 01:08:54,1898775228,2/19/2016 01:04:05,False,neodev,1,33714737,USA,...,NaN,NaN,NaN,NaN,NaN,37.0,Loarie,6.0,45914059.0,The velocity of climate change.
4,5,886110198,2/19/2016 01:25:11,1898784119,2/19/2016 01:22:23,False,instagc,1,30108041,USA,...,NaN,NaN,NaN,NaN,NaN,37.0,Loarie,6.0,45914059.0,The velocity of climate change.